{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".android.js", ".android.tsx", ".ios.js", ".ios.tsx"],
        "alias": {
          "@assets/*": ["./assets/*"],
          "@utils/*": ["./src/common/utils/*"],
          "@types/*": ["./src/common/types/*"],
          "@constants/*": ["./src/common/constants/*"],
          "@mobx/*": ["./src/mobx/*"],
          "@navigation/*": ["./src/navigation/*"],
          "@requests/*": ["./src/requests/*"],
          "@containers/*": ["./src/view/containers/*"],
          "@components/*": ["./src/view/components/*"],
          "@screens/*": ["./src/view/screens/*"]
        }
      }
    ]
  ]
}
