
.icon-drop:before { content: '\e800'; } /* '' */
.icon-weather:before { content: '\e801'; } /* '' */
.icon-wind:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-pressure:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
