@font-face {
    font-family: "Icons";
    src: url("./Icons.ttf?069a3483e5131bd6465c2770f26de1d3") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: Icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\f101";
}
.icon-drop:before {
    content: "\f102";
}
.icon-menu:before {
    content: "\f103";
}
.icon-pressure:before {
    content: "\f104";
}
.icon-search:before {
    content: "\f105";
}
.icon-weather:before {
    content: "\f106";
}
.icon-wind-1:before {
    content: "\f107";
}
.icon-wind:before {
    content: "\f108";
}
