@font-face {
    font-family: "Icons";
    src: url("./Icons.ttf?5eef3f81d961ff546d6aca0322350726") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: Icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron:before {
    content: "\f101";
}
.icon-close:before {
    content: "\f102";
}
.icon-done:before {
    content: "\f103";
}
.icon-drop:before {
    content: "\f104";
}
.icon-menu:before {
    content: "\f105";
}
.icon-moon:before {
    content: "\f106";
}
.icon-pressure:before {
    content: "\f107";
}
.icon-search:before {
    content: "\f108";
}
.icon-sun:before {
    content: "\f109";
}
.icon-weather:before {
    content: "\f10a";
}
.icon-wind-1:before {
    content: "\f10b";
}
.icon-wind:before {
    content: "\f10c";
}
